

<form action= '/signup' method='post'>
<p> Email:<input type= "text" name="users[email]"/></p> 
<p> Username: <input type= "text" name="users[username]"></input></p>
<p> Password: <input type= "password" name="users[password]"></input></p>
<p> Re-type Password: <input type= "password" name= 'users[password_confirmation]'></input></p>
<input type="submit" value="Sign Up">
</form>