<h1>Create Your Player Here </h1>

<form action= "/players" method="post">
<p> Player Name:<input type= "text" name="players[name]"/></p> 
<p> Position: <input type= "text" name="players[position]"></input></p>
<p> Nationality: <input type= "text" name="players[nationality]"></input></p>
<p> Pace:<input type= "text" name="players[pace]"></input></p>
<p> Shooting: <input type= "text" name="players[shooting]"></input></p>
<p> Defending: <input type= "text" name="players[defending]"></input></p>
<p> Passing: <input type= "text" name="players[passing]"></input></p>
<p> Dribbling: <input type= "text" name="players[dribbling]"></input></p>
<p> Physical: <input type= "text" name="players[physical]"></input></p>
<p> Nickname: <input type= "text" name="players[nickname]"></input></p>
<input type="submit" value="Generate Player">
</form>