

<form action= '/players' method='post'>
<p> Player Name:<input type= "text" name="players[name]"/></p> 
<p> Position: <input type= "text" name="players[position]"></input></p>
<p> Nationality: <input type= "text" name="players[country]"></input></p>
<p> Pace:<input type= "text" name="players[pace]"></input></p>
<p> Shooting: <input type= "text" name="players[shot]"></input></p>
<p> Defending: <input type= "text" name="players[def]"></input></p>
<p> Passing: <input type= "text" name="players[pass]"></input></p>
<p> Dribbling: <input type= "text" name="players[dri]"></input></p>
<p> Physical: <input type= "text" name="players[phy]"></input></p>
<p> Nickname: <input type= "text" name="players[nickie]"></input></p>
<input type="submit" value="Generate Player">
</form>